In [1]:
x = 5
name = "John"

In [2]:
type(x)

int

In [3]:
type(name)

str

In [4]:
y: float = 3.14159

In [5]:
type(y)

float

In [6]:
for i in range(0,2):
    print(i)

0
1

In [7]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [8]:
for i in range(0,2):
print(i)

IndentationError: expected an indented block (1593343776.py, line 2)

In [10]:
age = 12

if age<13:
    print("Child")
elif 13 <= age <18:
    print("Teenager")
else:
    print("Adult")

Child

In [11]:
count =1
while count <= 3:
    print(f"Count is: {count}")
    count +=1

Count is: 1
Count is: 2
Count is: 3

In [12]:
# DEfine a list
fruits = ["apple", "banana", "cherry", "date"]

# Use the len function to get the number of items in the list
number_of_fruits = len(fruits)

print(f"There are {number_of_fruits} fruits in the list.")

There are 4 fruits in the list.

In [13]:
#creating your own function
def greet(name):
    return f"Hello, {name}!"

# now calling the function
message = greet("Alice")
print(message)

Hello, Alice!

In [15]:
import math
print(math.sqrt(16))

4.0

In [16]:
import pandas as pd
df = pd.read_csv('randdata.csv')
df.head()

   x   y
0  1   3
1  2   5
2  3   6
3  4   8
4  5  10

In [17]:
df['z'] = [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
df.head()

   x   y  z
0  1   3  9
1  2   5  8
2  3   6  7
3  4   8  6
4  5  10  5

In [20]:
import numpy as np

# Create a 1D array
arr = np.array([1, 2, 3, 4, 5])
print("Original array:", arr)

# Perform element-wise operation
squared_arr = arr ** 2
print("Squared array:", squared_arr)

# Calculate the mean of the original array
mean_value = np.mean(arr)
print("\nMean of original array:", mean_value)

Original array: [1 2 3 4 5]
Squared array: [ 1  4  9 16 25]

Mean of original array: 3.0